@import './../global.styl'

.ribbon
	height ribbonHeight
	border-bottom 1px solid strokeColor
	padding 0 buffer
	background bgColor
	h1
		text-align center
	.logo
		background-image url('https://s3.amazonaws.com/homemade-images/homemadeLogo.svg')
		background-size contain
		background-repeat no-repeat
		background-position center
		margin-top buffer
		height ribbonHeight - buffer*2
		
		