@import './../global.styl'

.ribbon
	height ribbonHeight
	border-bottom 1px solid strokeColor
	padding 0 buffer
	background bgColor
	h1
		text-align center
	.image
		background-size contain
		background-repeat no-repeat
		background-position center
		
		