@import './../global.styl'

.ribbon
	height ribbonHeight
	border-bottom 1px solid strokeColor
	padding 0 buffer
	background bgColor
	h1
		text-align center
	.logo
		background-image url('https://s3.amazonaws.com/homemade-images/homemadeLogo.svg')
		background-size contain
		background-repeat no-repeat
		background-position center
		margin-top buffer
		height ribbonHeight - buffer*2
	.back
		position absolute
		cursor pointer
		transition()
		p
			display inline-block
			line-height ribbonHeight
			height ribbonHeight
		.icon
			margin-left buffer
		&:hover
			-webkit-transform scale(1.3)
			-moz-transform scale(1.3)
			-ms-transform scale(1.3)
			transform scale(1.3)
		
	@media only screen and (max-width: 600px)
		.logo
			margin-left 0
			margin-right 0
			