@import './../global.styl'

detailHeight = 390px

hidden(shift, height)
	height height
	width 100%
	background #fff
	border-top 1px solid strokeColor
	color fontColor
	transform translate3d(0, shift, 0)
	transition()

.sections
	// @media only screen and (max-width: 900px)
	// padding 0 buffer*3
	.header
		position relative
		text-align center
		display block
		margin buffer auto
		width 100%
		padding 0 buffer*3
		height auto
		h1
			display inline-block
			text-transform uppercase
			font-weight 500
			letter-spacing 3px
			background bgColor
			padding 0 (buffer * 5)
			text-align center
			font-size 18px
			margin-bottom 0
		.line
			position absolute
			z-index -1
			top 26px
			left buffer*3
			right buffer*3
			height 1px
			background strokeColor
			width auto
	@media only screen and (max-width: 600px)
		.header
			margin-bottom 0
			h1
				font-size 18px
				padding 0 buffer
			.line
				display none

	.section
		padding (buffer * 3.5) 0
		&.noPadding
			padding 0
		&.selected
			width 75%
			margin 0 12.5%
			padding (buffer * 3.5) 0
			.image
				height 300px
				background-size cover
				background-repeat no-repeat
				background-position center
				overflow hidden
			.text
				padding 0 0 0 (buffer * 3)
				.details
					h1
						line-height ribbonHeight
						margin 0
					h2
						font-size 18px
						line-height (ribbonHeight / 2)
						margin 0
					p
						line-height (ribbonHeight / 4)
						padding 0
				p
					padding buffer 0
			.profile
				padding (buffer * 2) 0
				text-align center
				.image
					display inline-block
					height ribbonHeight
					width ribbonHeight
					border-radius 50%
					margin 0 auto
				.text
					text-align left
					padding 0 0 0 buffer
					display inline-block
					h2
						margin 0
			
		.blob
			text-align center
			font-family secondaryFontFamily
		ul
			max-width 1200px
			margin 0 auto
			display block				
			.cards
				padding buffer*3	
				&.content
					.videoCard 
						position relative
						overflow hidden
						width 100%		
						.video
							height 270px
							video
								height 100%
								width 100%		
					.audioControlsWrapper
						height 270px
						background bgColorDark
						audio
							width 100%
							margin-top 120px
				.card
					animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) .5s)
					transition()
					position relative
					height auto
					border-radius radius
					overflow hidden
					cursor pointer
					color fontColorLight
					.image
						animation(fadeIn ease-in .5s)
						background bgColorDark
						position relative
						height 270px
						background-size cover
						background-repeat no-repeat
						background-position center
						overflow hidden
					.cardActions
						display inline-block
						position absolute
						top -80px
						right buffer*2
						transition()
						.action
							display inline-block
							height 32px
							width 32px
							&.follow
								margin-left buffer
							svg
								path, polygon
									transition()
									fill white
							&:hover
								svg path, svg polygon
									transition()
									fill primaryColor
					.price
						margin buffer 0 (buffer/1.5) 0
						text-align right
						font-weight 600
						font-size 16px
						line-height 24px
						display inline-block
						width 15%
					.name
						margin buffer 0 (buffer/1.5) 0
						font-size 16px
						font-weight 400
						line-height 24px
						display inline-block
						width 85%
					.profileImage
						display inline-block
						border-radius 100%
						height 30px
						width 30px
						margin-right buffer
						background-size cover
						opacity .5
						transition()
					.cook
						.profileImage
							display inline-block
						.cookName
							font-family secondaryFontFamily
							display inline-block
							font-size 16px
							margin-top 5px
					.details
						text-align center
						.detail
							display block
							.icon
								height 20px
								padding 0
								display inline-block
								margin-right buffer
							p
								display inline-block
						.description, .location, .detail
							font-family secondaryFontFamily
							font-style italic
							font-size 17px
						.description
							margin-top (buffer/2)
					&:hover
						opacity .9
						color fontColor
						transition()
						.profileImage
							transition()
							opacity 1
						.cardActions
							transition()
							top buffer*2
		.capture
			margin buffer*3
			padding buffer*2
			height 100px
			background bgColorDark
			.text
				h1
					margin 0
					height 33px
					line-height 33px
					font-size 28px
				p
					margin 0
					height 33px
					line-height 26px
					&.signedUpText
						margin-top buffer
				&.captured
					text-align center
			input
				height 100%
			.button
				padding 0 buffer
				button
					background primaryColor
					color white
					font-size 20px
					border 0
					height 100%
					width 100%
			@media only screen and (max-width: 600px)
				height auto
				padding buffer
				input
					margin-bottom buffer
				.button
					padding 0
				.text
					text-align center
					h1
						font-size 22px
						line-height 22px
					p
						font-size 14px
						height auto
						line-height 20px
						margin-bottom buffer
			

		.navigation
			text-align center
			text-transform uppercase
			letter-spacing 3px
			padding (buffer*1.5) 0
			.wrapper
				display inline-block
				transition()
				&:hover 
					h2
						opacity 0.5
				h2
					display inline-block
					margin 0 buffer*3
					cursor pointer
					border-bottom 1px solid bgColor
					font-weight 400
					font-size 18px
					transition()
					&:hover
						opacity 1
					&.selected
						border-bottom 1px solid secondaryColor
			@media only screen and (max-width: 600px)
				letter-spacing 1px
				.wrapper
					h2
						margin 0 (buffer/1.5)
						font-size 15px

		.hero
			animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) .3s)
			height 600px
			width 100%	
			overflow hidden
			background bgColorDark
			background-size cover
			background-repeat no-repeat
			background-position center
			margin-bottom (buffer * 2)
			video
				width 100%
				height 100%
		.map
			height 600px
			.marker
				position absolute
				width markerSize
				height markerSize
				left (markerSize / -2)
				top (-1 * (markerSize - 10))
				border-radius 50%
				overflow hidden
				background-size cover
				background-repeat no-repeat
				background-position center
				border 2px solid pri.ribbon
				
				maryColor
				z-index 10
				transition()
				&:after
					top: (markerSize - 2);
					left: (markerSize / 2);
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-top-color: primaryColor;
					border-width: 10px;
					margin-left: -10px;
					transition()
				&:hover
					border 2px solid #333
					transition()
					&:after
						border-top-color: #333
						transition()
						
// MOVE INTO profile.styl ... Top class should be sections.Profile

&.Profile
	animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) .6s)
	.section
		.hero
			height 350px
			background bgColorDark
			background-size cover
			background-position center center
			margin-bottom 0
			@media only screen and (max-width: 600px)
				height 250px 
			@media only screen and (min-width: 1200px)
				height 400px 
			@media only screen and (min-width: 1500px)
				height 500px 
	
	.singleProfile
		.profiles.cards.single
			padding 0
			.card
				overflow visible
				cursor default
				opacity 1
				&:hover
					opacity 1
				.image
					border 2px solid white
					height 150px
					width 150px
					border-radius 100%
					margin -75px auto 0 auto
					@media only screen and (max-width: 600px)
						width 100px
						height 100px
						margin -50px auto 0 auto
				.name
					width auto
				.bio
					position relative
					background bgColorDark
					padding buffer*3 buffer*12
					margin buffer*3
					@media only screen and (max-width: 600px)
						padding buffer*3
					.bioHeader
						text-align center
						color #888
					.bioText
						text-transform none
						margin buffer*2 auto
						font-family	secondaryFontFamily
						@media only screen and (max-width: 600px)
							font-size 14px


// MOVE INTO featured.styl

.section.featuredHero
	animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) .6s)
	background-repeat no-repeat
	background-size cover
	background-position center center
	.hero
		position relative
		max-width 800px
		padding buffer*2
		margin 0 auto
		text-align center
		color white
		background none
		height 28vw
		animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) 1s)
		.heroTitle
			font-size 50px
			margin-top 6vw
		.heroText
			font-size 24px
			font-family secondaryFontFamily
		@media only screen and (max-width: 1300px)
			.heroTitle
				margin-bottom 0
		@media only screen and (max-width: 1000px)
			.heroTitle
				margin-top 3vw
				margin-bottom 0
			.heroText
				font-size 20px
		@media only screen and (max-width: 700px)
			height 250px
			.heroTitle
				margin-top 20px
				font-size 48px
			.heroText
				font-size 18px
			

.section.featured
	display block
	max-width maxPageWidth
	margin 0 auto
	
	.header
		.featuredText
			font-family secondaryFontFamily
			font-size 17px
			margin-top buffer
			
	.content
		margin-bottom buffer*4
		
.blogPost
	animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) .5s)
	display block
	max-width 800px
	margin 0 auto
	border-top border
	margin-top buffer*4
	padding-top buffer*4
	
	img
		width 100%
		margin buffer*2 0
		
	p
		margin-bottom buffer*2
		&.quote
			padding 0 buffer*4
	
	a
		cursor pointer
		&:hover
			border-bottom 1px solid fontColor
		
	iframe
		border none
		margin-bottom buffer*4













