@import './../global.styl'

detailHeight = 390px

hidden(shift, height)
	height height
	width 100%
	background #fff
	border-top 1px solid strokeColor
	color fontColor
	transform translate3d(0, shift, 0)
	transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)
	nav
		height 60px
		padding 5px buffer
		h2
			margin 0
			font-size 16px
			overflow hidden
			line-height 25px
			white-space nowrap
			display inline-block
			text-align left
			overflow hidden
			text-overflow ellipsis
		p
			margin 0
			font-size 18px
			overflow hidden
			white-space nowrap
			line-height 25px
			display inline-block
			text-align right
			text-overflow ellipsis
			&.cook
				font-size 15px
				font-color fontColorLight
				display block
				text-align left
				.byText
					font-size 12px
					text-transform lowercase
					font-style italic
					margin-right 5px

.sections
	.header
		position relative
		text-align center
		height 50px
		width 50%
		margin 0 25%
		h1
			display inline-block
			text-transform uppercase
			font-size 18px
			font-weight 500
			height 50px
			line-height 50px
			letter-spacing 5px
			background bgColor
			padding 0 (buffer * 5)
		.line
			position absolute
			top 0
			left 0
			height 25px
			width 100%
			z-index -1
			border-bottom 1px solid fontColor
	.section
		padding (buffer * 3.5) 0
		&.noPadding
			padding 0
		.blob
			text-align center
		ul
			padding 0 (buffer * 6)
			.cards
				padding buffer
				.card
					position relative
					height 300px
					border-radius radius
					overflow hidden
					border 1px solid strokeColor
					color white
					background #333
					cursor pointer
					.image
						background-size cover
						background-repeat no-repeat
						background-position center
						overflow hidden
						.hidden
							hidden(190px, 250px)
						.ingredients
							padding 0 (buffer)
							.label
								font-size 17px
								color fontColorLight
							p
								font-size 16px
								overflow hidden
								display -webkit-box
								-webkit-line-clamp 6
								-webkit-box-orient vertical  
					button
						border none
						background #333
						color white
						letter-spacing 2px
						text-transform uppercase
						font-weight 500
						border-top 1px solid strokeColor
						transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)
					&:hover
						.image
							.hidden
								transform translate3d(0, 30px, 0)
						button
							background primaryColor
							border-top 1px solid primaryColor
							font-weight 900
							color bgColor
			.profiles
				padding buffer
				.profile
					position relative
					border-radius radius
					height detailHeight
					border 1px solid transparent
					transition()
					&.slideover
						overflow hidden
					&:hover
						border 1px solid strokeColor
						-webkit-transform scale(1.05)
						-moz-transform scale(1.05)
						-ms-transform scale(1.05)
						transform scale(1.05)
						.bio
							&.slideover
								transform translate3d(0, -300px, 0)
						.bio
							&.popover
								opacity 1
								display block
								
					.details
						overflow hidden
						h1
							text-align center
							margin-bottom (buffer/2)
						span
							display block
							text-align center
							p
								display inline-block
								font-size 15px
								height 20px
								line-height 20px
							.icon
								display inline-block
								padding 0
								padding-right (buffer/2)
								height 20px
						.map
							margin-top buffer
							height 150px
							.marker
								position absolute
								width 25px
								height 25px
								top -12.5px
								left -12.5px
								border-radius 50%
								overflow hidden
								z-index 10
								background primaryColor !important
								transition()
					.image
						border-radius 50%
						width 150px
						height 150px
						margin buffer auto
						background-size cover
						background-repeat no-repeat
						background-position center
						overflow hidden
						border 1px solid strokeColor
					.bio
						transition()
						&.popover
							display none
							position absolute
							padding buffer
							width 200%
							opacity 0
							z-index 1
							top 0
							right -193%
							&:hover
								display none
								opacity 0
							&::after 
								content ""
								width 0
								height 0
								position absolute
								top 25px
								left -3px
								opacity 0.8
								border-style solid
								border-top 10px solid transparent
								border-bottom 10px solid transparent 
								border-right 15px solid strokeColor 
								border-left	0
							p
								font-size 18px
								padding buffer
								background bgColor
								border-radius radius
								border 1px solid strokeColor
								border-bottom 0
								border-top 0
								border-top-left-radius 0
								border-top-right-radius 0
								&.aboutMeTitle
									text-transform uppercase
									text-align center
									font-weight bold
									border-bottom-left-radius 0
									border-bottom-right-radius 0
									border-bottom 0
									border-top 1px solid strokeColor
							button
								width 100%
								border none
								border-top 1px solid strokeColor
								background primaryColor
								color white
						&.slideover 
							hidden(0px, 300px)
							p
								font-size 18px
								padding 0 buffer
								background bgColor
								border-radius radius
								overflow hidden
								display -webkit-box
								-webkit-line-clamp 8
								-webkit-box-orient vertical 
								&.aboutMeTitle
									text-transform uppercase
									text-align center
									line-height 45px
									margin 0
									padding 0
									font-weight bold
							button
								width 100%
								border none
								border-top 1px solid strokeColor
								background primaryColor
								color white
				&:nth-of-type(4n-1)
					.bio
						&.popover
							left -193%
							right auto
							&::after 
								left auto
								right -3px
								border-left 15px solid strokeColor 
								border-right 0
				&:nth-of-type(4n)
					.bio
						&.popover
							left -193%
							right auto
							&::after 
								left auto
								right -3px
								border-left 15px solid strokeColor 
								border-right 0	
		.map
			height 600px
			.marker
				position absolute
				width markerSize
				height markerSize
				left (markerSize / -2)
				top (-1 * (markerSize - 10))
				border-radius 50%
				overflow hidden
				background-size cover
				background-repeat no-repeat
				background-position center
				border 2px solid primaryColor
				z-index 10
				transition()
				&:after
					top: (markerSize - 2);
					left: (markerSize / 2);
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-top-color: primaryColor;
					border-width: 10px;
					margin-left: -10px;
					transition()
				&:hover
					border 2px solid #333
					transition()
					&:after
						border-top-color: #333
						transition()