@import './../global.styl'

detailHeight = 390px

hidden(shift, height)
	height height
	width 100%
	background #fff
	border-top 1px solid strokeColor
	color fontColor
	transform translate3d(0, shift, 0)
	transition()

.sections
	.header
		position relative
		text-align center
		display block
		height 50px
		width 50%
		margin buffer*2 auto buffer*4 auto
		h1
			display inline-block
			text-transform uppercase
			font-size 18px
			font-weight 500
			height 50px
			line-height 50px
			letter-spacing 5px
			background bgColor
			padding 0 (buffer * 5)
		.line
			position absolute
			top 0
			left 0
			height 36px
			width 100%
			z-index -1
			border-bottom 1px solid fontColor
	.section
		padding (buffer * 3.5) 0
		&.noPadding
			padding 0
		.blob
			text-align center
		ul
			padding 0 (buffer * 6)
			.cards
				padding buffer*2
				.card
					transition()
					position relative
					height auto
					border-radius radius
					overflow hidden
					cursor pointer
					color fontColorLight
					.productImage
						position relative
						height 270px
						background-size cover
						background-repeat no-repeat
						background-position center
						overflow hidden
					.cardActions
						display inline-block
						position absolute
						top -60px
						right buffer*2
						transition()
						.action
							height 32px
							width 32px
							svg
								path
									transition()
									fill white
						&:hover
							.action svg path
								transition()
								fill primaryColor
							
					.namePrice
						margin buffer 0
						.productPrice
							text-align right
							font-weight 600
							font-size 18px
						.productName
							font-family fontFamily
							font-size 18px
					.profileImage
						display inline-block
						border-radius 100%
						height 30px
						width 30px
						margin-right buffer
						background-size cover
						opacity .5
						transition()
					.cook
						// text-align center
						.profileImage
							display inline-block
						.cookName
							display inline-block
							font-size 13px
							margin-top 5px
					&:hover
						opacity .9
						color fontColor
						transition()
						.profileImage
							transition()
							opacity 1
						.cardActions
							transition()
							top buffer*2
			.profiles
				padding buffer
				.profile
					position relative
					border-radius radius
					height detailHeight
					border 1px solid #fff
					transition()
					&.slideover
						overflow hidden
					&:hover
						border 1px solid strokeColor
						.bio
							&.slideover
								transform translate3d(0, -300px, 0)
						.bio
							&.popover
								opacity 1
								display block
								
					.details
						overflow hidden
						h1
							text-align center
							margin-bottom (buffer/2)
						span
							display block
							text-align center
							p
								display inline-block
								font-size 15px
								height 20px
								line-height 20px
							.icon
								display inline-block
								padding 0
								padding-right (buffer/2)
								height 20px
						.map
							margin-top buffer
							height 100px
							.marker
								position absolute
								width 25px
								height 25px
								top -12.5px
								left -12.5px
								border-radius 50%
								overflow hidden
								z-index 10
								background primaryColor !important
								transition()
					.image
						border-radius 50%
						width 150px
						height 150px
						margin buffer auto
						background-size cover
						background-repeat no-repeat
						background-position center
						overflow hidden
						border 1px solid strokeColor
					.bio
						transition()
						&.popover
							display none
							position absolute
							padding buffer
							width 200%
							opacity 0
							z-index 1
							top 0
							right -193%
							&:hover
								display none
								opacity 0
							&::after 
								content ""
								width 0
								height 0
								position absolute
								top 25px
								left -3px
								opacity 0.8
								border-style solid
								border-top 10px solid transparent
								border-bottom 10px solid transparent 
								border-right 15px solid strokeColor 
								border-left	0
							p
								font-size 18px
								padding buffer
								background bgColor
								border-radius radius
								border 1px solid strokeColor
								border-bottom 0
								border-top 0
								border-top-left-radius 0
								border-top-right-radius 0
								&.aboutMeTitle
									text-transform uppercase
									text-align center
									font-weight bold
									border-bottom-left-radius 0
									border-bottom-right-radius 0
									border-bottom 0
									border-top 1px solid strokeColor
							button
								width 100%
								border none
								border-top 1px solid strokeColor
								background primaryColor
								color white
						&.slideover 
							hidden(0px, 300px)
							p
								font-size 18px
								padding 0 buffer
								background bgColor
								border-radius radius
								overflow hidden
								display -webkit-box
								-webkit-line-clamp 8
								-webkit-box-orient vertical 
								&.aboutMeTitle
									text-transform uppercase
									text-align center
									line-height 45px
									margin 0
									padding 0
									font-weight bold
							button
								width 100%
								border none
								border-top 1px solid strokeColor
								background primaryColor
								color white
				&:nth-of-type(4n-1)
					.bio
						&.popover
							left -193%
							right auto
							&::after 
								left auto
								right -3px
								border-left 15px solid strokeColor 
								border-right 0
				&:nth-of-type(4n)
					.bio
						&.popover
							left -193%
							right auto
							&::after 
								left auto
								right -3px
								border-left 15px solid strokeColor 
								border-right 0
		.navigation
			text-align center
			text-transform uppercase
			padding-bottom (buffer * 4)
			.wrapper
				display inline-block
				transition()
				&:hover 
					h2
						opacity 0.5
				h2
					display inline-block
					padding-bottom buffer
					margin 0 buffer*2
					cursor pointer
					border-bottom 1px solid bgColor
					transition()
					&:hover
						opacity 1
					&.selected
						border-bottom 1px solid secondaryColor
		.hero
			height 400px
			width 100%	
			overflow hidden
			background-size cover
			background-repeat no-repeat
			background-position center
			margin-bottom (buffer * 2)
			video
				width 100%
				height 100%
		.map
			height 600px
			.marker
				position absolute
				width markerSize
				height markerSize
				left (markerSize / -2)
				top (-1 * (markerSize - 10))
				border-radius 50%
				overflow hidden
				background-size cover
				background-repeat no-repeat
				background-position center
				border 2px solid primaryColor
				z-index 10
				transition()
				&:after
					top: (markerSize - 2);
					left: (markerSize / 2);
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-top-color: primaryColor;
					border-width: 10px;
					margin-left: -10px;
					transition()
				&:hover
					border 2px solid #333
					transition()
					&:after
						border-top-color: #333
						transition()